body {
    background-image: url(music.jpg);
    
    font-family: arial;
width: 500px;
height:20px;
}

h1{
    
    color:crimson;
    font-size: 50px;
    background-color: cyan ;
}
h2{
    
    color:rgb(57, 20, 220);
    font-size: 45px;
    background-color: rgb(255, 196, 0) ;
}
a{
    font-size: 20px;
    background-color: deeppink;
    border: red;
}
table{
    background-color: lightcoral;
    border: lightseagreen;
   padding: 10px;
   border-spacing: 10px;
   align-items: center;
   
}
img{
    border-radius: 10px;
    background-color: rgb(36, 33, 33);
}
.center{
    font-size: 15px;
    font-family: sans-serif;
}
#song
{ color:steelblue;
    font-family: serif;
}